<div class="widgetTitle">
    <h5>Fanpage</h5>
</div>
<div class="widgetContent">
    <div class="fb-page" data-href="https://www.facebook.com/hoc.lap.trinh.quoctuan.info/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/hoc.lap.trinh.quoctuan.info/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/hoc.lap.trinh.quoctuan.info/">Học Lập Trình - QuocTuan.Info</a></blockquote></div>
</div>