<div class="row">
    <div class="large-4 medium-4 columns">
        <!-- contact -->
        <div class="widgetBox" app-contact></div>
        <!-- end contact -->
    </div>
    <div class="large-4 medium-4 columns">
        <!-- popular video -->
        <div class="widgetBox" app-popular-video></div>
        <!-- end popular video -->
    </div>
    <div class="large-4 medium-4 columns">
        <!-- fanpage -->
        <div class="widgetBox" app-fanpage></div>
        <!-- end fanpage -->
    </div>
</div>
<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-double-up"></i></a>