<div class="sticky topnav" data-sticky data-top-anchor="navBar" data-btm-anchor="footer-bottom:bottom" data-margin-top="0" data-margin-bottom="0" style="width: 100%; background: #444;" data-sticky-on="large">
    <div class="row">
        <div class="large-12 columns">
            <div class="title-bar title-bar-dark" data-responsive-toggle="beNav" data-hide-for="large">
                <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
                <div class="title-bar-title"><img src="assets/images/logo-small.png" alt="logo"></div>
            </div>
            <div class="top-bar show-for-large topbar-light-dark" id="beNav" style="width: 100%;">
                <div class="top-bar-left">
                    <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
                        <li class="has-submenu active" data-dropdown-menu="example">
                            <a href="#">Home</a>
                        </li>
                        <li class="has-submenu" data-dropdown-menu="example">
                            <a href="#">Playlists</a>
                        </li>
                        <li class="has-submenu" data-dropdown-menu="example">
                            <a href="#">Videos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>