<div class="widgetTitle">
    <h5>Featured Video</h5>
</div>
<div class="widgetContent">
    <div class="media-object stack-for-small">
        <div class="media-object-section">
            <div class="recent-img">
                <img src="http://placehold.it/120x80" alt="recent">
                <a href="#" class="hover-posts">
                <span><i class="fa fa-play"></i></span>
            </a>
            </div>
        </div>
        <div class="media-object-section">
            <div class="media-content">
                <h6><a href="#">Lạc Trôi</a></h6>
                <p>
                    <i class="fa fa-comment"></i><span>66</span>
                    <i class="fa fa-eye"></i><span>13</span>
                    <i class="fa fa-heart"></i><span>58</span>
                </p>
            </div>
        </div>
    </div>

    <div class="media-object stack-for-small">
        <div class="media-object-section">
            <div class="recent-img">
                <img src="http://placehold.it/120x80" alt="recent">
                <a href="#" class="hover-posts">
                <span><i class="fa fa-play"></i></span>
            </a>
            </div>
        </div>
        <div class="media-object-section">
            <div class="media-content">
                <h6><a href="#">Lạc Trôi</a></h6>
                <p>
                    <i class="fa fa-comment"></i><span>66</span>
                    <i class="fa fa-eye"></i><span>13</span>
                    <i class="fa fa-heart"></i><span>58</span>
                </p>
            </div>
        </div>
    </div>
</div>