<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!--header responsive-->
        <div class="off-canvas position-left light-off-menu dark-off-menu" id="offCanvas" data-off-canvas>
            <div class="off-menu-close">
                <h3>Menu</h3>
                <span data-toggle="offCanvas"><i class="fa fa-times"></i></span>
            </div>
            <ul class="vertical menu off-menu" data-responsive-menu="drilldown" app-main-menu-responsive>
                
            </ul>
            <!-- Social Top Reponsive -->
            <div class="off-social" app-social-top>
                
            </div>
            <!--End Social Top Reponsive -->
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- Header Component -->
            <header app-header></header>
            <!-- End Header -->
            <router-outlet></router-outlet>
            <!-- footer -->
            <footer app-footer></footer>
            <!-- footer copyright -->
            <div id="footer-bottom" app-copyright></div>
            <!-- end copyright -->
        </div>
        <!--end off canvas content-->
    </div>
    <!--end off canvas wrapper inner-->
</div>