<!-- Top -->
<section id="top" class="topBar topBarBlack show-for-large">
    <div class="row">
        <div class="medium-6 columns">
            <!-- Menu Top -->
            <div class="topBarMenu" app-menu-top>                              
                
            </div>
            <!-- End Menu Top -->
        </div>
        <!-- Social Top -->
        <div class="medium-6 columns" >                            
            <div class="top-button">
                <div class="socialLinks float-right" app-social-top>

                </div>
            </div>
        </div>
        <!-- End Social Top -->
    </div>
</section>
<!-- End Top -->
<!--Navber-->
<section id="navBar">
    <div class="middleNav show-for-large">
        <div class="row">
            <div class="large-3 columns">
                <!-- Banner -->
                <div class="logo" app-banner>
                <!-- End Banner -->
                </div>
            </div>
            <div class="large-6 columns">
                <!-- Ads Top -->
                <div class="topCenterAdv text-center" app-ads="top"></div>
                <!-- End Ads Top -->
            </div>
        </div>
    </div>
    <nav class="sticky-container navBlack navFull-v2" data-sticky-container app-main-menu>
        <!-- Main Menu -->
        <!-- End Main Menu -->
    </nav>
</section>