<div class="widgetTitle">
    <h5>Playlist</h5>
</div>
<div class="widgetContent">
    <div class="video-box thumb-border">
        <div class="video-img-thumb">
            <img src="http://placehold.it/300x190" alt="">
            <a href="#" class="hover-posts">
            <span><i class="fa fa-play"></i>Watch Video</span>
        </a>
        </div>
        <div class="video-box-content">
            <h6>
            	<a href="#">Khóa Học Lập Trình Angular 4. </a>
            </h6>
        </div>
    </div>
    <div class="video-box thumb-border">
        <div class="video-img-thumb">
            <img src="http://placehold.it/300x190" alt="">
            <a href="#" class="hover-posts">
            <span><i class="fa fa-play"></i>Watch Video</span>
        </a>
        </div>
        <div class="video-box-content">
            <h6>
            	<a href="#">Khóa Học Lập Trình NodeJS. </a>
            </h6>
        </div>
    </div>
</div>